<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343237866823-7i9g799cdv8qjgdpvcobblltv3vdcui7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343237866823-7i9g799cdv8qjgdpvcobblltv3vdcui7</string>
	<key>API_KEY</key>
	<string>AIzaSyAGKeV4ZUMn0Ra08bOwBl3JRgsLAsRpuZw</string>
	<key>GCM_SENDER_ID</key>
	<string>343237866823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationDemo</string>
	<key>PROJECT_ID</key>
	<string>notofication-demo-ccf50</string>
	<key>STORAGE_BUCKET</key>
	<string>notofication-demo-ccf50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343237866823:ios:94b080b9778e93acd44862</string>
</dict>
</plist>